@import "tailwindcss";

:root {
  --spotify-green: #1DB954;
  --bg:            #121212;
  --surface:       #181818;
  --surface-2:     #282828;
  --text:          #FFFFFF;
  --text-muted:    #B3B3B3;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
